
div.container{ 
  border-left: 2px solid #00ff00;
  border-right: 2px solid #00ff00;
  text-align:center;
  margin-top: 2%;
}


li.container{
  font-size: 15px;
  padding-right: 10%;
}

.link {
  font-size: 18px;
  padding-right: 10%;
  color: white;
}

.link:visited{
  color: white;
}