<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/assets/css/blog.css">
    <title></title>
  </head>
  <body>
    <% include ../../partials/header %>

    <p>BLOG 1</p>

  </body>
</html>
