<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/assets/css/blogpost.css">
    <title>Ru$e</title>
  </head>
  <body>
    <% include ../../partials/header %>
    <div class="title">

    </div>

        <h1><a href="#"></a>WebScout</h1>
    <h4>7/3/2019</h4>

  </div>

    <div class="post">

        <p>
          <ul>

            <li><a href="#"></a></li>
          </ul>
        </p>

    </div>

  </body>
</html>
