<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/assets/css/blogpost.css">
    <title>Ru$e</title>
  </head>
  <body>
    <% include ../../partials/header %>
    <div class="title">

    </div>

        <h1><a href="#"></a>WebScout</h1>
    <h4>7/3/2019</h4>

  </div>

    <div class="post">

        <p>
          After completing Borderprobe, a team member asked
          if I would develop a program that could scan a subnet for web servers,
          Screenshot their landing pages, and create a report. After talking
          for a bit about my team member suggested that I go check out the
          tool <a href="https://github.com/FortyNorthSecurity/EyeWitness">Eyewitness</a>
          from the same creators of Veil-Evasion.
        </p>

        <p>
          Reading over the documentation, it was clear that what my teammate
          wanted was mostly done but lacked automation. Eyewitness does include
          some basic scanning, but I wasn't satisfied with how it was implemented
          and the lack of control over the scans. So I decided to chain Nmap and
          Eyewitness together to get the best of both worlds.
        </p>

        <p>
          I was able to steal some code from my previous project and in two methods
          I had Webscout done. The first method leverages Nmap to discover
          Web servers and then the results are passed into Eyewitness, and the report is generated.
        </p>

        <p>
          Not every project needs to be flashy or the most complex. Sometimes it
          is the simple ones that make your life easier. With this script, we
          can quickly scan a subnet and see what type of internal web servers
          are running. Often internal web servers are forgotten or never received
          the proper configurations, making them prime targets.
        </p>

        <p>
          To top it all off, I added some cool ASCII art no tool
          is complete without ASCII art.
        </p>

        <p>
          <ul>

            <li><a href="#">Webscout.py</a></li>
          </ul>
        </p>

    </div>

  </body>
</html>
