
/* ---------------- cryto --------------------- */

div.crypto {
  align-content: center;
  padding: 10% 0 0 25%;
}


ul.crypto{
  list-style-type: none;
}

li.crypto {
  float: left;
  border-bottom: 1px solid #00ff00;
  margin-right: 15%;
  font-size: 500%;
}






