div.Editor {
  background-color: #fffef7;
  width:80%;
  margin:auto;
  box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.5);
  height:300px;
  overflow-y: scroll;
  padding:20px;
  font-size: 18px;
  font-family: 'calibri', sans-serif;
}

.Editor{
  color: black;
}

.container {
  background-color: grey;
}

.editorHeader{
  margin-top: 5%;
}

.container label {
  color: black;
  margin-left: 5%;
  padding-right: 1%;
}

.container textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}