
.Editor{
  width:100%;
  grid-column: 1 / 3;   
}

.Editor textarea{
  width: 100%;
}

.container {
  padding: 3%;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  background-color: #282622;
  padding: 1%;
  margin-bottom: 3%;
}

.form label{
  color: white;
}

.form button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}


.form checkbox {
  width: 40px;
  height: 10px;
  background: #555;
  margin: 20px 80px;
  position: relative;
  border-radius: 3px;
}
