
.Editor{
  width:80%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Editor textarea{
  width: 100%;
}

.container {
  /* background-color: #131216; */
}

.editorHeader{
  margin-top: 5%;
}

.container label {
  color: white;
  margin-left: 5%;
  padding-right: 1%;
}
