body{
  background-color: black;
  color: #00ff00;
  max-width: 1000px;
  margin: auto;
  font-family: 'Ubuntu Mono', monospace;
}

/* ---------------- HEADER --------------------- */

h1{
  margin-top: 10%;
  border-left: 2px solid #00ff00;
  padding-left: 10px;

}


/* ------------- Main Body --------------- */


.center {
  padding-left: 25px;
}

p.boxed {
  background-color: #1e1e1e;
  padding: 10px 10px 10px 10px;
  line-height: 150%;
}


/*
  ------------------- Nav Bar ---------------------
*/

ul#list-nav {
  list-style:none;
  border-left: 2px solid #00ff00;
  border-right: 2px solid #00ff00;
  padding-left: 30%;
  padding-bottom: 2%;
}

ul#list-nav li {
  font-size: 15px;
  display:inline;
  padding: 0 20% 0 0;
}

ul#list-nav li a {
 text-decoration:none;
 color: #00ff00;
}
