body{
  background-color: black;
  color: #00ff00;
  max-width: 1000px;
  margin: auto;
  font-family: 'Ubuntu Mono', monospace;
}

/* ------------- Main Body --------------- */

div.center h1{
  margin-left: 5%;
}

#root{
  margin-left: 10%;
  padding-top: 2%;
}

ul li{
    padding: 10px 10px;
}

ul.sub li{
  text-decoration: underline;
  padding: 10px 10px;
}

ul.sub li a{
  color: #00ff00;
}



/*
  ------------------- Nav Bar ---------------------
*/

ul#list-nav {
  list-style:none;
  border-left: 2px solid #00ff00;
  border-right: 2px solid #00ff00;
  padding-left: 30%;
  padding-bottom: 2%;
}

ul#list-nav li {
  font-size: 15px;
  display:inline;
  padding: 0 20% 0 0;
}

ul#list-nav li a {
 text-decoration:none;
 color: #00ff00;
}
