body{
  background-color: black;
  color: #00ff00;
  max-width: 500px;
  margin: auto;
}

/* ---------------- HEADER --------------------- */




/* ---------------- cryto --------------------- */



/*
  ------------------- Nav Bar ---------------------
*/

ul#list-nav {

  list-style:none;
  border-left: 1px solid #00ff00;
  border-right: 1px solid #00ff00;
}

ul#list-nav li {
  display:inline
}

ul#list-nav li a {
 text-decoration:none;
 margin: 0px 5px 0px 5px;
 padding: 3px 3px 3px;
 color: #00ff00;
}
