<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/public/assets/css/about.css">
  </head>
  <body>

      <p>
        <pre>
          /$$   /$$  /$$$$$$  /$$   /$$
         | $$  | $$ /$$$_  $$| $$  | $$
         | $$  | $$| $$$$\ $$| $$  | $$
         | $$$$$$$$| $$ $$ $$| $$$$$$$$
         |_____  $$| $$\ $$$$|_____  $$
               | $$| $$ \ $$$      | $$
               | $$|  $$$$$$/      | $$
               |__/ \______/       |__/

        </pre>
      </p>
  </body>
</html>
