<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/public/assets/css/about.css">
  </head>
  <body>
    <% include ../../partials/header %>
    <div class="center">
      <h1>Who is Ruse?</h1>
      <p class="boxed">
        Well I can tell you am I college student somewhere in the United States.
        I enjoy InfoSec and am working towards building my career in the field.
        This website is dedicated to whatever content I feel is interesting or relevant.
         This site is not supposed to be 100% anon but some information is better left unsaid.
         If you wish to contact me email me at XXXX@XXX Please use GPG otherwise your message will be ignored.
      </p>
    </div>

  </body>
</html>
