<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/public/assets/css/about.css">
  </head>
  <body>
    <% include ../../partials/header %>
    <div class="center">
      <h1>Who is Ruse?</h1>
      <p class="boxed">
        I am college student somewhere in the United States.
        I enjoy InfoSec and am working towards building my career in the field.
        This website is dedicated to whatever content I feel is interesting or relevant.
        If you wish to contact me email me at XXXX@XXX Please use GPG otherwise your message will be ignored.
      </p>

      <p>
        <pre>

          -----BEGIN PGP PUBLIC KEY BLOCK-----

mQGNBF0enFIBDADrn1Ey/WBWlW8oXZlNU7Z12CPXQHMWlZDPRtiLPpjkRu60+Ybk
Gt5+0iLE9+stnp4/qoXQKI5OHH1gRYuB3H+Ws1SjqPjL7LsOH2m0Z2StLfqQWHrX
e+Mh3qtl6+RiuwPDPb4o3vQxR36NKzShe1w66Zw4+X7y2gZ8KlhZoyG4qcfL5/Rw
Xj7q9Xb1HlIEcQwgKEMiI3N/zVehZnm3JFcRYn4dN4f3nlv22iTYjSLUSFHG51o8
ET+NHGnhjY8ETLH2IEAq8qbKabXGlZDIlVBToV+cHhQ8YTglTlgKHHUjFMKz2JK5
PIQmrCFe8GHqwCJbGc1uhQmbaPt5YFaaX7ucm2uH4lmIDwZ5RfA9IujklcAgP5oG
GrXtU196ikuaC5PyMQpn8D3k63kGyqcH7cOVkQlqspD6mJIsRqy+I7DnKP/7I/NY
XuAxTo8hEthNaX4ayzpZWXMD0SLgFwYtFPIaiETPAT7qr7QA/R1gFzvP/oBuMvzN
QFNYykqFF/X+SMsAEQEAAbQYcnVzZSA8cnVzZUBydXNlY3Jldy5jb20+iQHUBBMB
CAA+FiEEv1UX39E+21rAB4PUcX01CwUXRVMFAl0enFICGwMFCQPCZwAFCwkIBwIG
FQoJCAsCBBYCAwECHgECF4AACgkQcX01CwUXRVOwTAwAzIweku7lS0QZOPeqwFOk
sZ4JmAtgl5ARz9OQI5gKBWZhMX6O5dESIPzOcqAOUBBCkHEuEOxylsrqLfnfu3nL
kEFf1EOpkKUuYLZxyvb7YzfbqIPPS+Ujcl4sZPFCsR5S/4CesWhaMfLpiuFFdfYa
Luu35PKimJKJtQTG8fUANIuzl0DajkIuGguGwT+3BV7TUhmQftFTHmRGdguvh7IP
m0cfOu2L+NFcRY/eesrGjGoBLQsItqZPC+/sXhZ11/id8tdawlrpTrnzgN1jxL1I
yHXNC9y0bGiqcl6fOAYEm1cM5OkN+2NvHzHVB51kxKMT882v+yPIlwd6G8DsF918
XRad8yrHxuEN1GLPWxF3Q9P+0t21ZZRq6cdvbaaom1qCvdbRTzuY+8xWpzaGtRgj
kLZKZhkyWLdeLekT3/dUU6FO5P8SbbGToa0d3wEd/3gd1zjPsrz99KZXy67666bQ
/f5exEMXlfGd+Wfo7dCqmFtbBW5XJGPN+JLzkikzZo1TuQGNBF0enFIBDAColmrm
WPL8dBmRXKWFpa8V6BKWHx0DnS0Wx2qqV6izllTMn99j6Lb0uR0FQ4syRYbYSi8N
47cO+bPljgowO6puInXxaHJ6uaNvcm1NkjaqQ58wizDu0kSmPxP2fn6CUlVDOSgJ
0sRlKz6cS3mrMLFbgrIechFQQUt32+HgGH0okaHPLIwb/KC1N/7bkSkjrw9GN5BR
vnJuF8z9LUTp2CRmgj/+16EPTADwItBub3EJe7ARbil1qTKW+SCch4NXhXd3bqQI
Gj8d7L1SFaioDdkuXq0JvTF1yJrIeADQO36I3gooHzQNi0P7l3serfegc31lcKXp
4IcCEqyYtAY9HpjclfsyA0f9QlK5nXN7JnlP/dLv1w8VD5ESPvkTgjAR2mQYQ/7c
8Ww6u/S/RzBXyoP6LMLC1VADXhN84xg3pOWuGxwtqEWIiHKR0ciDZ33lrx7FPTi0
ybuVY8NncmtvDs/cNsY4KofJg0uSBCSn/PMKEVvqNXQACkjrR5P0c49RN50AEQEA
AYkBvAQYAQgAJhYhBL9VF9/RPttawAeD1HF9NQsFF0VTBQJdHpxSAhsMBQkDwmcA
AAoJEHF9NQsFF0VTP7MMAN6v7/Y4lFYgmv/i8qB+eOe9HkhZ9XX3c3V4+0T3hcdJ
8Vm6UX/iuNfNdejY9q+3wVanSj36HeecIadxVOvVQMISndT5f0rEKFFSXi2o+4qI
y3yZcpaXBeFv9mL2LeJndq+7c23JioItXrthUp+e3n2tuR06w5P1FxtIjcYwbt8t
+FTkgIjGTceKP+xc3C6cuh7maxOcH8kXjh6P1cSo/v5lUaQRUX9S1Hja1iCzhpjq
KZoPUYhhXgPuI0QYSFNLNnlouoUoWJvpVpqytd9PlULH6XbLy6a14IGwy7LHGkVL
NxFchFq+aDVpCqomuhdb9KMVCK5MpVD+lE3vsammZ7KdV7J6pmAXmIg/Odj8gXVV
EGgjt+l+9TROKj8rBB650+e1W4fbUkk5Hh+gTQ34gd1/GfXWQppj6dyAxNOhY/n0
xroJMJFVImDtBIQ30wE1HuHP+XcCxVlFjC0REqqc401NJFmWnRpbbgLuR1uhYDZM
gVKZmgwjSCK/Vbw13WcH/Q==
=T4s3

-----END PGP PUBLIC KEY BLOCK-----

        </pre>
      </p>
      <a href="https://github.com/seb1055"><img src="public/imgs/github.png" alt=""></a>

    </div>

  </body>
</html>
