<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ruse</title>
    <link rel="stylesheet" href="/public/assets/css/blog.css">
  </head>
  <body>
      <% include ../../partials/header %>
<div class="center">

    <h1>Blogs:</h1>

    <ul id="root">



      <li>General</li>
          <ul class="sub">
            <li><a href="/blog/general/fordxss"> Finding XSS in F*rd.com 9/15/2019 </a></li>
            <li><a href="/blog/general/labxss"> XSS Lab </a></li>
          </ul>
      </li>

      <li>Security  Tools</li>
      <ul class="sub">
        <li><a href="/blog/tools/borderprobe"> BorderProbe 7/3/2019 </a></li>
        <li><a href="/blog/tools/webscout">  WebScout 7/3/2019 </a></li>
      </ul>


    </ul>
</div>
  </body>
</html>
