<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ruse</title>
    <link rel="stylesheet" href="/public/assets/css/blog.css">
  </head>
  <body>
      <% include ../../partials/header %>
<div class="center">

    <h1>Blogs:</h1>

    <ul id="root">
      <li>Security  Tools</li>
      <ul class="sub">
        <li><a href="/blog/borderprobe"> BorderProbe 7/3/2019 </a></li>
        <li><a href="/blog/webscout">  WebScout 7/3/2019 </a></li>
      </ul>


      <li> CTF Writeups </li>
        <ul class="sub">

        </ul>


      <li>Personal</li>
          <ul class="sub">
          </ul>
      </li>

    </ul>
</div>
  </body>
</html>
