<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/public/assets/css/blog.css">
  </head>
  <body>
      <% include ../../partials/header %>

    <h1>Blogs:</h1>
    <ul>


      <li>Secuirty Tools</li>
      <ul>
        <li><a> BorderProbe 7/3/2019 </a></li>
        <li><a> WebScout 7/3/2019 </a></li>
      </ul>


      <li> CTF Writeups </li>
        <ul>
          <li>FeedMe</li>
          <li>Narinia</li>
        </ul>


      <li>Personal</li>
          <ul>
            <li>Place Holder</li>
          </ul>
      </li>

    </ul>

  </body>
</html>
