<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/assets/css/index.css">
    <script src="/public/assets/js/index.js"> </script>
    <title>Ru$e</title>
  </head>
  <body>
      <% include ../../partials/header %>

      <div class="cryto">

        <ul class="ruse-scroll">
             <li class="ruse-scroll ruse-brute ">A</li>
             <li class="ruse-brute ruse-scroll">H</li>
             <li class="ruse-brute ruse-scroll">J</li>
             <li class="ruse-brute ruse-scroll">Z</li>
       </ul>

       <h3 id="root"></h3>


      </div>

      <div class="main">
        <h3>Ruse</h3>
        <h4><i>Noun</i></h4>
        <p> An indirect means to gain an end. Ruse may imply deception,
          illusion, and either an evil or harmless end.</p>

      </div>


  </body>


</html>
