<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/assets/css/blogpost.css">
    <title>Ru$e</title>
  </head>

  <body>
    <% include ../../../partials/header %>

    <div class="title">
        <h1>Xss Lab</h1>
    </div>

    <h3></h3>

    <% if (locals.welcome) { %>
        <h3><%- welcome %></h3
    <% } %>
    <h4>9/15/2019</h4>



    <div class="post">

        <div class="test_1">
          <p>Change the Welcome Message</p>
          <form action="/blog/general/labxss/challenge1" method="POST" >
            <input id="query" name="welcome" value="Enter query here..." onfocus="this.value=''">
            <input id="button" type="submit" value="Submit">
          </form>
        </div>

        <div class="test_2">
            <p>Change the Image</p>
            <form class="" action="/blog/general/labxss/challenge2" method="post">
              <input id="image" type="text" name="image" value="">
              <input type="submit" name="" value="Submit">
            </form>

            <% if(locals.image){ %>
               <img src=<%= image %>></a>
             <% } else{ %>
               <img src="https://freepngimg.com/thumb/skull/3-2-skull-png-hd-thumb.png">
            <% } %>



        </div>

        <div class="test_3">
            <p>Can you bypass me?</p>
            <form class="" action="/blog/general/labxss/challenge3" method="post">
              <input type="text" name="" value="">
              <button type="button" name="button">Submit</button>
            </form>
        </div>

    </div>

  </body>
</html>
