<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/assets/css/blogpost.css">
    <title>Ru$e</title>
  </head>

  <body>
    <% include ../../../partials/header %>

    <div class="title">
        <h1>Xss Lab</h1>
    </div>

    <h3></h3>

    <% if (locals.welcome) { %>
        <h3><%- welcome %></h3
    <% } %>
    <h4>9/15/2019</h4>



    <div class="post">

        <div class="test_1">
          <p>Change the Welcome Message</p>
          <form action="/blog/general/labxss/challenge1" method="POST" >
            <input id="query" name="welcome" value="Enter query here..." onfocus="this.value=''">
            <input id="button" type="submit" value="Submit">
          </form>
        </div>

        <div class="test_2">
          <p>Open Me</p>

          <input type="text" name="" value="" dis>

          <script>
          	var pos=document.URL.indexOf("context=")+8;
          	var s =  document.createElement('script')
            var command  = document.createTextNode(document.URL.substring(pos,document.URL.length));
            s.appendChild(command);
            document.body.appendChild(s);
          </script>

        </div>

        <div class="test_3">
            <p>Can you bypass me?</p>
            <form class="" action="/blog/general/labxss/challenge3" method="POST">
              <input name="chal3" type="text" name="" value="">
              <input id="button" type="submit" name="button">
            </form>

            <% if (locals.chal3) { %>
                <h3><%- chal3 %></h3
            <% } %>

        </div>



    </div>

  </body>
</html>
