<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/assets/css/xsslab/lab.css">
    <title>Ru$e</title>
  </head>

  <body>
    <% include ../../../partials/header %>

    <div class="title">
        <h1>Xss Lab</h1>
    </div>

    <h3></h3>

    <% if (locals.welcome) { %>
        <h3><%- welcome %></h3
    <% } %>
    <h4>9/15/2019</h4>

    <div class="post">

        <div class="test_1">
          <p>Change the Welcome Message</p>
          <form action="/blog/general/labxss/challenge1" method="POST" >
            <input id="query" name="welcome" value="Enter query here..." onfocus="this.value=''">
            <input id="button" type="submit" value="Submit">
          </form>
        </div>

        <div class="test_2">
          <p>Open Me</p>
          <img src="/public/blogs/general/xsslab/skull.png" alt="">

          <script>
              var _0x20ed=['VVJM','aW5kZXhPZg==','eWVldD0=','Y3JlYXRlVGV4dE5vZGU=','c3Vic3RyaW5n','bGVuZ3Ro','YXBwZW5kQ2hpbGQ=','Ym9keQ=='];var _0x12ea=function(_0xa44bed,_0x152366){_0xa44bed=_0xa44bed-0x0;var _0x20b873=_0x20ed[_0xa44bed];if(_0x12ea['AjIiRt']===undefined){(function(){var _0x2f07b1=function(){var _0x3ea29c;try{_0x3ea29c=Function('return\x20(function()\x20'+'{}.constructor(\x22return\x20this\x22)(\x20)'+');')();}catch(_0x4f0ba1){_0x3ea29c=window;}return _0x3ea29c;};var _0x251e58=_0x2f07b1();var _0x412436='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';_0x251e58['atob']||(_0x251e58['atob']=function(_0x446451){var _0x32ffe4=String(_0x446451)['replace'](/=+$/,'');for(var _0x58feb6=0x0,_0x12516b,_0x1c1df3,_0x56b656=0x0,_0x2484b4='';_0x1c1df3=_0x32ffe4['charAt'](_0x56b656++);~_0x1c1df3&&(_0x12516b=_0x58feb6%0x4?_0x12516b*0x40+_0x1c1df3:_0x1c1df3,_0x58feb6++%0x4)?_0x2484b4+=String['fromCharCode'](0xff&_0x12516b>>(-0x2*_0x58feb6&0x6)):0x0){_0x1c1df3=_0x412436['indexOf'](_0x1c1df3);}return _0x2484b4;});}());_0x12ea['RKkPrf']=function(_0x8a9ed7){var _0x493a44=atob(_0x8a9ed7);var _0x17773f=[];for(var _0x254638=0x0,_0x3ce67c=_0x493a44['length'];_0x254638<_0x3ce67c;_0x254638++){_0x17773f+='%'+('00'+_0x493a44['charCodeAt'](_0x254638)['toString'](0x10))['slice'](-0x2);}return decodeURIComponent(_0x17773f);};_0x12ea['GOioOA']={};_0x12ea['AjIiRt']=!![];}var _0x8e6f4e=_0x12ea['GOioOA'][_0xa44bed];if(_0x8e6f4e===undefined){_0x20b873=_0x12ea['RKkPrf'](_0x20b873);_0x12ea['GOioOA'][_0xa44bed]=_0x20b873;}else{_0x20b873=_0x8e6f4e;}return _0x20b873;};var pos=document[_0x12ea('0x0')][_0x12ea('0x1')](_0x12ea('0x2'))+0x5;var s=document['createElement']('script');var command=document[_0x12ea('0x3')](document[_0x12ea('0x0')][_0x12ea('0x4')](pos,document[_0x12ea('0x0')][_0x12ea('0x5')]));s[_0x12ea('0x6')](command);document[_0x12ea('0x7')][_0x12ea('0x6')](s);
          </script>

        </div>

        <div class="test_3">
            <p>Can you bypass me?</p>
            <form class="" action="/blog/general/labxss/challenge3" method="POST">
              <input name="chal3" type="text" name="" value="">
              <input id="button" type="submit" name="button">
            </form>

            <% if (locals.chal3) { %>
                <h3><%- chal3 %></h3
            <% } %>

        </div>



    </div>

  </body>
</html>
