<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/public/assets/css/index.css">
  </head>
  <body>
    <% include ../partials/header %>
    <p>Maybe ill get to making this shit finally</p>
  </body>
</html>
