<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/assets/css/index.css">
    <script src="/public/assets/js/index.js"> </script>
    <title>Ru$e</title>
  </head>
  <body>
    <% include ../partials/header %>

     <h1>Welcome to the pit</h1>

      <div class="cryto">
          <h3>Root#: </h3>
          <ul class="ruse-scroll">
            <li class="ruse-scroll ruse-brute ">?</li>
            <li class="ruse-brute ruse-scroll">?</li>
            <li class="ruse-brute ruse-scroll">?</li>
            <li class="ruse-brute ruse-scroll">?</li>
          </ul>
      </div>

      <div class="main">
        <p>THIS IS SOME SAMple text</p>
      </div>


  </body>


</html>
