
.pageTitle {
  color: white;
  border-left: 2px solid #00ff00;
  padding-left: 2%;
  margin-top: 10%;
}

.root{
  background-color: #1e1e1e;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 1%;
}

.category {
  font-size: 20px;
  font-weight: bolder;
}

.post{
  margin:0 0 1% 0;  
}


ul.sub li{
  text-decoration:underline;
  color: white;
  font-size: 16px;
  padding-top: 1%;
}

ul.sub li a{
  color: white;
  
}

ul.sub li a:visited{
  color: white;
}