body{
  background-color: black;
  color: #00ff00;
  max-width: 1000px;
  margin: auto;
  font-family: 'Ubuntu Mono', monospace;
}


img.resize {
    width:540px; /* you can use % */
    height: 540px;
}


/* ------------- Title ------------------ */

div.title{
  margin-top: 7%;
}
a {
  color: #00ff00;
  border-style: none;
}
a:visited{
  color: #00ff00;
}



/* ------------- Main Body --------------- */

div.center h1{
  color: white;
  margin-left: 2%;
  margin-top: 7%;
  padding-left: 10px;
  border-left: 2px solid #00ff00
}


div.post{
  color: white;
  background-color: #1e1e1e;
  padding: 10px 10px 10px 10px;
}

div p{
  line-height: 1.7em;
  font-weight: bold;
}

div p:first-of-type{
  text-indent: 2em;
}

div ul li {
  padding-bottom: 2%;
}

div form {
  padding-left: 5%;

}


/*
  ------------------- Nav Bar ---------------------
*/

ul#list-nav {
  list-style:none;
  border-left: 2px solid #00ff00;
  border-right: 2px solid #00ff00;
  padding-left: 30%;
  padding-bottom: 2%;
}

ul#list-nav li {
  font-size: 15px;
  display:inline;
  padding: 0 20% 0 0;
}

ul#list-nav li a {
 text-decoration:none;
 color: #00ff00;
}
