div.title{
  margin-top: 5%;
}
a {
  color: #00ff00;
  border-style: none;
}
a:visited{
  color: #00ff00;
}


/* ------------- Main Body --------------- */

.title{
  color: white;
  padding-left: 5%
}

.date{
  padding-left: 5%;
}


div.post{
  color: white;
  background-color: #1e1e1e;
  padding: 2%;
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  line-height: 1.5;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

div.post p{
  line-height: 1.7em;
}

div.post p:first-of-type{
  text-indent: 2em;
}

div.post ul li {
  padding-bottom: 2%;
}
 .post :is(h1, h2) {
  color: white;
  text-decoration: underline;
}
.post img {
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 100%;
  object-fit: contain;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.imageModal{
  width: 100%;
  height: 100%;
}

/* .codeBlock{
  background-color: white;
} */

.post code{ 
  color: #00ff00;
}

.post pre {
  background-color: white;
}

.post pre code  {
  font-size: 14px;
} 

.post table{
  margin-left: auto;
  margin-right: auto;

}

.post th, td{
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

