
.link {
  text-decoration: none;  
}

.card {
  /* margin: 2% 0% 0 5%; */
  width: 100%;
  padding: 1%;
  border-left: 1px solid white;
}

@media only screen and (max-width: 600px) {
  .card {
    margin: 3% 5% 0 5%;
    max-width: 75%;
    padding: 1%;
}
  
}
.text {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2%;
}


.blogImage {
  align-self: flex-start;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}



.card:hover{
  -webkit-box-shadow: 6px 6px 46px -21px rgba(0,255,0,0.65);
  -moz-box-shadow: 6px 6px 46px -21px rgba(0,255,0,0.65);
  box-shadow: 6px 6px 46px -21px rgba(0,255,0,0.65);
}

.title {
  color: white;
}

.tagGroup {
  color: white;
  display: flex;
  width:100%;
}

.tag {
  background-color: grey;
  height: fit-content;
  width: fit-content;
  margin-right: 1%;
  padding: 5px;
}

.postDate{
  color: white;
}

.category {
  font-size: 20px;
  font-weight: bolder;
}

.description{
  color: white;
}
