.loginBox {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}


.loginBox  input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.loginBox  label {
  font-size: 16px;
  color: #00ff00;
  pointer-events: none;
  transition: .5s;
}

.loginError {
  color: red;
}