.cardContainer{
  display: flex;
  padding-top: 10%;
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0px;
  min-height: 0px;
  flex-flow: row wrap;
  flex: 1 1 0%;
  -moz-box-pack: center;
  justify-content: center;
}